body {
  background-color: rgb(37, 34, 34);
  font-family: abril fatface, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 50px;
}

.buttons {
  display: flex;
  gap: 25px;
}

#round-announcement {
  font-size: 35px;
  margin: 20px;
}

#scoreboard {
  display: flex;
  margin: 50px;
  flex-direction: column;
}

#score-tracker {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}

button {
  background-color:rgb(37, 34, 34);
  color: white;
  font-family: abril fatface, sans-serif;
  border-radius: 1em;
  padding: 2em;
  border: 2px solid rgb(161, 161, 161);
  font-size: 16px;
}

#game-end-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#game-end-message {
  margin: 50px;
  color: rgb(255, 255, 137);
  font-size: 40px;
}

#play-again-button {
  font-size: 30px;
  color:rgb(255, 255, 137);
}