body {
  background-color: rgb(37, 34, 34);
  font-family: abril fatface, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 50px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#roundAnnouncement {
  font-size: 28px;
}